.h1 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: #FAFAFA;
}

.h4 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: #ACBBC8;
}

.p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center; 
    color: #CFE4F6;
}