.dc-chart g.row text {
    fill: white !important;
}

.dc-chart .box text, .dc-chart g.axis text {
    fill: white !important;
}

.svg text {
    fill: white !important;
}

#div {
    fill: white !important;
}

axis text {
    fill: white !important;
}