/*-----------------Body*/

body {
    font-family: 'Oxygen', sans-serif;
}

/*-----------------Titles*/

h1 {
    text-shadow: 7px 6px 0 rgba(0, 0, 0, 0.3);
    font-family: Oxygen;
    color: #FFFFFF;
    font-weight: 800;
}

.text-info,
.text-info:hover {
    color: #FFFFFF;
}

h3 {
    font-family: Oxygen;
    color: #5BC0FB;
}

p.subtitle {
    font-family: Oxygen;
    color: #5BC0FB;
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4;
}

/*-----------------Icons*/

.fa-check-square-o:before {
    content: "\f046";
    color: #428CA2;
}

/*-----------------DC Charts*/

.dc-chart .box text,
.dc-chart g.axis text {
    fill: white;
}

.svg text {
    font-family: 'Oxygen', sans-serif;
    fill: white;
}

.x-axis-label {
    font-family: 'Oxygen', sans-serif;
    text-anchor: start !important;
    fill: #fff;
    font-weight: bold;
    padding-top: 10em;
}

.y-axis-label {
    font-family: 'Oxygen', sans-serif;
    fill: white;
    font-weight: bold;
}

.dc-chart .axis line {
    stroke: white;
}

.dc-chart .axis line {
    stroke: white;
}

#income g.x.axis text {
    transform: rotate(40deg);
    fill: #fff;
    margin-bottom: 10em;
}

dc-chart .axis line,
.dc-chart .axis path {
    stroke: #fff;
}

/*---------------Citations*/

a.quote {
    color: #A3B3B9;
    text-decoration: none;
    margin-left: 6px;
    font-size: 0.8em;
}